.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 333ms ease, height 333ms ease-in-out;
}

@keyframes blinkingCursor {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-blinking-cursor {
  animation: blinkingCursor 1s infinite;
}

* {
  cursor: none !important;
}

button {
  cursor: none !important;
}

.cursor--hidden {
}

.cursor-circle-bg {
  mix-blend-mode: normal;
}
