.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  /*   For centering the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  animation: animate 9s ease-in-out infinite;
}

h2 {
  color: #fff;
  z-index: 1;
  font-size: 6em;
  font-weight: 800;
}

/* @keyframes animate {
    0% {
      transform: scaleX(0);
      transform-origin: left;
      background: #ff2c60;
    }
    25% {
      transform: scaleX(1);
      transform-origin: left;
      background: #ff2c60;
    }
    25.001% {
      transform: scaleX(1);
      transform-origin: right;
      background: #ff2c60;
  
    }
    50% {
      transform: scaleX(0);
      transform-origin: right;
      background: #ff2c60;
    }
    
    
    
    50.001% {
      background: #03a9f4;    
    }
    75% {
      transform: scaleX(1);
      transform-origin: right;
      background: #03a9f4;
    }
    75.001% {
      transform: scaleX(1);
      transform-origin: left;
      background: #03a9f4;
    }
    100% {
      transform: scaleX(0);
      transform-origin: left;
      background: #03a9f4;
    }
  } */

/* Direction Changed */

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: right;
    background: #ff2c60;
  }
  25% {
    transform: scaleX(1);
    transform-origin: right;
    background: #ff2c60;
  }
  25.001% {
    transform: scaleX(1);
    transform-origin: left;
    background: #ff2c60;
  }
  50% {
    transform: scaleX(0);
    transform-origin: left;
    background: #ff2c60;
  }

  50.001% {
    background: #03a9f4;
  }
  75% {
    transform: scaleX(1);
    transform-origin: left;
    background: #03a9f4;
  }
  75.001% {
    transform: scaleX(1);
    transform-origin: right;
    background: #03a9f4;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
    background: #03a9f4;
  }
}
